body {
    margin-top: 70px;
    background-image: url("images/bskt.avif");
    background-size:cover;
    color:white;
    
}
h2{
    margin-left: 25px;
}




    


.container {
    display: flex;
    justify-content: space-around;
}